* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #f5efef;
    --main-color: #00aeff;
}

.light-mode {
    --bg-color: #fff;
    --second-bg-color: #f0f0f0;
    --text-color: #000000b3;
    --main-color: #f0e80b;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    transition: background 0.5s, color 0.5s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo:hover {
    text-shadow: 0 0 10px #fff700, 0 0 20px #f0e80b;
    ;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: -5rem;
    font-weight: bolder;
    opacity: 0;
    transition: all 1s ease-in-out;
    animation: slideright 1s ease forwards;
    will-change: opacity, transform;
}

@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

.navbar a {
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    padding: 18px;
    font-weight: bolder;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    will-change: opacity, transform;

}
.navbar {
    display: flex;
    flex-direction: row;
}

a[href^="#"] {
    transition: all 0.3s ease-in-out;
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.navbar a:hover,
.navbar a.active {
    text-decoration: overline;
    color: var(--main-color);
}

#menu {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

#light-mode-toggle,
#dark-mode-toggle {
    font-size: 2.5rem;
    color: var(--text-color);
    cursor: pointer;
}

#dark-mode-toggle {
    display: none;
}